@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-element {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

@layer components {
  .text-color-custom {
    @apply text-[#e6e1db];
  }

  .text-color-custom-2 {
    @apply text-[#e6e1db]/40;
  }

  .section-title,
  .hero-button-text {
    @apply text-[#f1d85d] animate-pulse font-semibold;
  }

  .decoration-element {
    @apply decoration-[#f1d85d];
  }

  .bg-color-custom {
    @apply bg-[#262829];
  }

  .bg-color-custom-2 {
    @apply bg-[#222425];
  }

  .bg-skill-custom {
    @apply bg-[#3c4143];
  }

  .animate-shape {
    @apply absolute border-2 border-[#f1d85d] rounded-full;
  }

  .hero-icon {
    @apply text-color-custom-2 h-10 w-10;
  }

  .arrow-icon {
    @apply text-color-custom-2 md:hover:text-[#f1d85d] transition-all cursor-pointer h-8 w-8 md:h-10 md:w-10;
  }

  .contact-icon {
    @apply text-[#f1d85d] h-7 w-7 animate-pulse;
  }

  .scroll-color-custom {
    @apply scrollbar-thin scrollbar-thumb-[#f1d85d];
  }

  .hero-button {
    @apply uppercase text-base lg:text-xl tracking-widest text-[#f5f5f5] transition-all md:hover:text-[#f1d85d] relative;
  }

  .contact-info {
    @apply flex flex-col sm:flex-row justify-center items-center gap-1 sm:gap-5;
  }

  .contact-input {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-slate-400/10 placeholder-gray-500 transition-all md:hover:border-slate-400/40 focus:border-[#f1d85d] focus:text-[#f1d85d]/40;
  }
}
