@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-element {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

@layer components {
  .text-color-custom {
    @apply text-[#f5f5f5];
  }

  .text-color-custom-2 {
    @apply text-[#f5f5f5]/40;
  }

  .section-title,
  .hero-button-text {
    @apply text-[#f1d85d] animate-pulse font-semibold;
  }

  .decoration-element {
    @apply decoration-[#f1d85d];
  }

  .bg-color-custom {
    @apply bg-[#3c3c3c];
  }

  .bg-color-custom-2 {
    @apply bg-[#202020]/20;
  }

  .bg-skill-custom {
    @apply bg-[#4f4f4f];
  }

  .animate-shape {
    @apply absolute border-2 border-[#f1d85d] rounded-full;
  }

  .header-icon {
    @apply text-color-custom cursor-pointer sm:group-hover:text-[#f1d85d] sm:hover:text-[#f1d85d] transition-all h-7 w-7 md:h-8 md:w-8;
  }

  .contact-icon {
    @apply text-[#f1d85d] h-7 w-7 animate-pulse;
  }

  .scroll-color-custom {
    @apply scrollbar-thin scrollbar-thumb-[#f1d85d];
  }

  .hero-button {
    @apply px-6 py-2 w-32 lg:w-40 rounded-full uppercase text-base lg:text-xl tracking-widest text-[#f5f5f5] transition-all  sm:hover:hero-button-text;
  }

  .contact-info {
    @apply flex flex-col sm:flex-row justify-center items-center gap-1 sm:gap-5;
  }

  .contact-input {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-slate-400/10 placeholder-gray-500 transition-all sm:hover:border-slate-400/40 focus:border-[#f1d85d] focus:text-[#f1d85d]/40;
  }
}
